@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

/* testomonial section */
#testimonials{
   
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
h2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
     line-height: 1.5;
     font-size: xx-large;
     
}
h3{
    font-family: 'Ubuntu', sans-serif !important;
}
.test-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 12%;
    margin: 3%;

     
}
.carousel-item{
    padding: 7% 15%;
}
 
#features{
    display: inline-table !important;
}

.title-image{
    width: 50%;
    transform: rotate(25deg);
    right: 30%;
   position: absolute;
    


}


@media (max-width: 1028px) {
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        width: 100%;
        transform: rotate(0);

    }
}


.jumbotron{

    background-size: cover;
      background: 
  linear-gradient(
    rgba(0, 0, 250, 0.25), 
    rgba(125, 250, 250, 0.45)
  ),
  url("");
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
  color:white !important;
  margin: 0px;
  padding: 0px;
  }


  /* @media (max-width: 1028px) {
   
    .jumbotron{
        height:191px;

    }
} */
  
 
  
  .btn-outline-danger{
    color:white;
    border-color:white;
    border-radius:0px;
    font-weight:100;
    margin-top:20px;
  }
  .lead{
    font-family:raleway;
    font-weight:100;
    margin-top:-10px;
  }


  .abc{
    padding-top: 100px;
  }